actionButton {
    height: 24px;
    width: 85px;
    border-radius: 3px;
    background-color: rgb(0,142,255);
    border-width: 0;
    font-size: 12px;
    color: rgb(255,255,255);
}

buildBox {
    border-radius: 3px;
    border: 1px solid #dfe5bf;
    background-color: #f7f9fa;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    font-size: 12px
}